{{#each this}}
<div class="card-slider">
    <a href="{{url}}" target="_blank" rel="noopener noreferrer nofollow">
        <div class="thumbe">
            <img class="slider-img" src="{{posterUrl}}" alt="event" height="auto">
        </div>
    </a>
</div>
{{/each}}