<ul class="events_list">
    {{#each this}}
          <li class="event_card">
            <div class="thumb">
              <img src="{{}}" alt="{{name}}" />
            </div>
            <p class="event-title">{{name}}</p>
            <p class="event-date">{{dates.start.localDate}}</p>
            <p class="event-location">{{}}</p>
          </li>
          
          {{/each}}
        </ul>