.container_result {
  perspective: 10000px;
}

.event_card {
  transform: rotateY(0deg);
  animation: rotateY 3000ms /*infinite alternate backwards ease-in-out 1000ms*/;
}

@keyframes rotateY {
  0% {
    transform: perspective(10000px) rotateY(-90deg);
  }
  100% {
    transform: perspective(10000px) rotateY(0deg);
  }
}
