.search-country {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

.search-country option  {

    cursor: pointer;
    color:  $grey-text-color;
    background: $black;
}


.search-country option:hover {
    color: $black;
    background: $accent;
  }

.search-country  option:focus {
    color: $black;
    background: $accent;
}