.social {
  min-height: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  @media screen and (min-width: $tablet) {
    height: auto;
    width: 50%;
  }
  @media screen and (min-width: $desktop) {
    text-align: center;
    width: calc((100% - 60px) / 4);
    height: auto;
  }
  .footer-social {
    display: flex;
    text-align: center;
    justify-content: center;
  }
}
.social .item {
  margin-right: 10px;
  &:last-child {
    margin-right: 0px;
  }
}
.social .link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: solid 1px $accent;
  background: $black;
  fill: $white;
  transition: $timing-function;

  &:hover,
  &:focus {
    background-color: $accent;
  }

  &:hover::-moz-tree-row,
  &:focus::-moz-tree-row {
    background-color: $accent;
  }

  -text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
