<<<<<<< Updated upstream
=======
// .button.is-hidden {
//   display: none;
// }

// .button > .spinner.is-hidden {
//   display: none;
// }

.loader {
  display: none;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.loading {
  border: 2px solid #ccc;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-top-color: f#dc56c5;
  border-left-color: #dc56c5;
  animation: spin 1s infinite ease-in;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
>>>>>>> Stashed changes
// @keyframes ld-dot {
//   0% {
//     width: 12px;
//     height: 12px;
//     background: #e3a6b2;
//   }
//   25% {
//     width: 12px;
//     height: 12px;
//     background: #e3a6b2;
//   }
//   50% {
//     width: 20px;
//     height: 20px;
//     background: #e90a5a;
//   }
//   75% {
//     width: 12px;
//     height: 12px;
//     background: #e3a6b2;
//   }
//   100% {
//     width: 12px;
//     height: 12px;
//     background: #e3a6b2;
//   }
// }
// .ld-dot {
//   position: relative;
// }
// .ld-dot div {
//   position: absolute;
//   transform: translate(-50%, -50%);
//   animation: ld-dot 1s linear infinite;
//   border-radius: 50%;
// }
// .ld-dot div:nth-child(1) {
//   animation-delay: -0.9166666666666666s;
//   left: 150px;
//   top: 100px;
// }
// .ld-dot div:nth-child(2) {
//   animation-delay: -0.8333333333333334s;
//   left: 143.30127018922195px;
//   top: 125px;
// }
// .ld-dot div:nth-child(3) {
//   animation-delay: -0.75s;
//   left: 125px;
//   top: 143.30127018922192px;
// }
// .ld-dot div:nth-child(4) {
//   animation-delay: -0.6666666666666666s;
//   left: 100px;
//   top: 150px;
// }
// .ld-dot div:nth-child(5) {
//   animation-delay: -0.5833333333333334s;
//   left: 75.00000000000001px;
//   top: 143.30127018922195px;
// }
// .ld-dot div:nth-child(6) {
//   animation-delay: -0.5s;
//   left: 56.69872981077806px;
//   top: 125px;
// }
// .ld-dot div:nth-child(7) {
//   animation-delay: -0.4166666666666667s;
//   left: 50px;
//   top: 100px;
// }
// .ld-dot div:nth-child(8) {
//   animation-delay: -0.3333333333333333s;
//   left: 56.69872981077806px;
//   top: 75.00000000000001px;
// }
// .ld-dot div:nth-child(9) {
//   animation-delay: -0.25s;
//   left: 74.99999999999997px;
//   top: 56.698729810778076px;
// }
// .ld-dot div:nth-child(10) {
//   animation-delay: -0.16666666666666666s;
//   left: 99.99999999999999px;
//   top: 50px;
// }
// .ld-dot div:nth-child(11) {
//   animation-delay: -0.08333333333333333s;
//   left: 125px;
//   top: 56.69872981077807px;
// }
// .ld-dot div:nth-child(12) {
//   animation-delay: 0s;
//   left: 143.30127018922192px;
//   top: 74.99999999999997px;
// }
// // .loadingio-spinner-default {
// //   width: 200px;
// //   height: 200px;
// //   display: inline-block;
// //   overflow: hidden;
// //   background: inherit;
// // }
// .ld-dot {
//   width: 100%;
//   height: 100%;
//   position: relative;
//   transform: translateZ(0) scale(1);
//   backface-visibility: hidden;
//   transform-origin: 0 0;
// }
// .ld-dot div {
//   box-sizing: content-box;
// }
