.heading {
	transition: 2s;
	animation: show 5s 1; 
    animation-fill-mode: forwards; 
    animation-delay: 1s; 

    @keyframes show{
        0%{ opacity:0; }
        100% { opacity:1; }
       }
  }

//   .logo-img {
//     animation: scaleLogo 1.5s linear 0.2s;
//     @keyframes scaleLogo {
//         0% {transform: scale(1);}
//        50% {transform: scale(1.15);}
//       100% {transform: scale(1);}
//     }
//   }

.test-card{
    animation: scaleList 1s linear 2s ;
    @keyframes scaleList {
        0% {transform: scale(0.4);}
      100% {transform: scale(1);}
    }
    animation: show 2s 1; 
    @keyframes show{
        0%{ opacity:0; }
        100% { opacity:1; }
       }
  }