.container {
  padding: 0 20px;
}
.footer-container {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 27px;
}

.footer-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;

  color: $grey-text-color;
  @media screen and(min-width:237px) and (max-width: 768px) {
    font-size: 14px;
    line-height: 1.21;
  }
}
.footer-link {
  text-decoration: none;
  color: $grey-text-color;
  &:hover,
  &:focus {
    box-shadow: 0px 0px 10px 3px $accent;
    outline-color: $grey-text-color;
  }
}
