.container {
  padding: 0 86px;
  @media screen and(min-width:237px) and (max-width: 767px) {
    padding: 0 34px;
  }
}
.footer-container {
  position: relative;
  width: 521px;
  margin: 0 auto;
  text-align: center;
  padding-top: 120px;
  @media screen and (width: 768px) {
    padding-top: 96px;
  }
  @media screen and(min-width:237px) and (max-width: 767px) {
    width: 252px;
    padding-top: 121px;
  }
}

.footer-text {
  position: absolute;
  top: 60%;
  left: -2%;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;

  color: $grey-text-color;
  @media screen and(min-width:237px) and (max-width: 767px) {
    top: 40%;
    font-size: 14px;
    line-height: 1.21;
  }
}
.footer-link {
  text-decoration: none;
  color: $grey-text-color;
}
