.background-header {
  position: relative; /* додано для логотипу */
  /*min-width: 320px;*/
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  background-image: url(../images/background-header-mobile.jpg);

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../images/background-header-mobile@2x.jpg);
  }

  @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    background-image: url(../images/background-header-mobile@3x.jpg);
  }

  @include breakpoint(tablet) {
    background-image: url(../images/background-header-tablet.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/background-header-tablet@2x.jpg);
    }

    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: url(../images/background-header-tablet@3x.jpg);
    }
  }

  @include breakpoint(desktop) {
    background-image: url(../images/background-header-desktop.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/background-header-desktop@2x.jpg);
    }

    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: url(../images/background-header-desktop@3x.jpg);
    }
  }
}

.container-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  width: 212px;
  height: 122px; /* 44 + 78 */
  font-family: 'Bungee Shade', cursive; //нрав нужно выбрать
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: $accent;
  text-transform: uppercase;
  text-align: center;
  padding-top: 78px;

  @include breakpoint(tablet) {
    width: 400px;
    height: 114px; /* 74 + 40 */
    font-size: 35px;
    line-height: 37px;
    padding-top: 40px;
  }

  @include breakpoint(desktop) {
    width: 590px;
    height: 162px; /* 122 + 40 */
    font-size: 50px;
    line-height: 61px;
  }
}

.wrapper {
  text-align: center;
  .heading {
    opacity: 1;
    color: #fff;
    text-transform: uppercase;
    background: linear-gradient(
      to right,
      #dc477e 10%,
      $modal-btn 50%,
      $accent 60%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 1.5s linear infinite;
    display: inline-block;
  }
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
