.container {
  padding: 0 86px;
  background-color: #000; //для blur когда будет bg  удалить
  @media screen and(min-width:237px) and (max-width: 767px) {
    padding: 0 25px;
  }
}
.label-form {
  width: 270px;
  height: 40px;
}

.search-form {
  position: relative;
  display: flex;
  padding: 27px 0 81px 0;
  width: 100%;
  justify-content: space-between;
  @media screen and(min-width:237px) and (max-width: 767px) {
    padding: 25px 0 52px 0;
    justify-content: space-evenly;
  }
}

.search-country {
  width: 270px;
  height: 40px;
  font-family: 'Montserrat';
  background-color: $input-bg;
  backdrop-filter: blur(20px);
  border-radius: 20px;
  border: transparent;
}
.selected-country {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: $grey-text-color;
  padding: 10px 30px;
}

.search-input {
  width: 270px;
  height: 40px;
  position: absolute;
  //   left: 355px;
  //   top: 214px;
  font-family: 'Montserrat';
  background-color: $input-bg;
  backdrop-filter: blur(20px);
  border-radius: 20px;
  border: transparent;
  &::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: $grey-text-color;
    padding: 10px 30px;
  }
  &:hover,
  &:focus {
    outline-color: $grey-text-color;
  }
  @media screen and(min-width:237px) and (max-width: 479px) {
    margin-bottom: 25px;
  }
}
.icon-loop {
  position: absolute;
  width: 12px;
  height: 12px;
  display: block;
  margin: 11px 230px;
  float: right;
  color: $grey-text-color;
}
